.card {
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

.card a {
  text-decoration: none;
}
.card-img-top {
  width: 230px;
  height: 230px;
  margin: 0 auto;
}

.text-green {
  color: #1ec503;
}

.projects {
  margin-top: 60px;
}

button {
  background: none;
  color: #1ec503;
  border: none;
  padding-bottom: 5px;
}
button:hover {
  border-bottom: 0.2px solid #fff;
}
button:focus,
button:active {
  animation: flicker 1s infinite alternate;
  border-bottom: 0.2px solid #fff;
  color: #fff;
}

button:focus {
  outline: none;
}

:root {
  --neon-text-color: #1ec503;
  --neon-border-color: #1ec503;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #000, 0.2rem 0.2rem 1rem #1ec503,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

.categories button {
  border: 1px solid #fff;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 22px !important;
  }
  h1 {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  .projects {
    margin-top: 130px;
  }
  h1 {
    font-size: 23px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
}
@media (max-width: 460px) {
  .categories button {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 444px) {
  .categories button {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 430px) {
  .navbar-brand {
    font-size: 20px !important;
  }
  h1 {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .navbar-brand {
    font-size: 18px !important;
  }
  .categories button {
    padding-left: 5px;
    padding-right: 5px;
  }
  h1 {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .navbar-brand {
    font-size: 16px !important;
  }
  .categories button {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 341px) {
  .categories button {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 322px) {
  h1 {
    font-size: 14px;
  }
  .categories button {
    padding: 0 5px !important;
  }
}

.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #ffffff;
  min-width: 270px;
  height: 470px;
  transition: all 1s ease;
}

.post-module .thumbnail img,
.hover .thumbnail img {
  transition: transform 0.5s ease;
}
.post-module:hover .thumbnail img,
.hover .thumbnail img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.6;
}
.post-module .thumbnail {
  background: #000000;
  height: 270px;
  overflow: hidden;
}

.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #ffffff;
  width: 100%;
  padding: 20px 20px;
  transition: all 1s ease;
}

.post-module .post-content .category {
  position: absolute;
  top: -64px;
  left: 0;
  background: #1ec503;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.post-module:hover .post-content .category {
  top: -24px;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #161516;
  font-size: 26px;
  font-weight: 700;
}
.post-module .post-content .description h4 {
  font-size: 14px !important;
}

.post-module .post-content .description {
  height: 0;
  color: #666666;
  line-height: 1.8em;
  visibility: hidden;
  opacity: 0;
  transition: height 1s ease, opacity 0.5s ease;
}
.hover:hover .post-content .description {
  height: auto !important;
  visibility: visible !important;
  opacity: 1 !important;
}
