.card {
  background: none;
  color: #fff;
  border: none;
}

.card a {
  text-decoration: none;
}
.card-img-top {
  width: 230px;
  height: 230px;
  margin: 0 auto;
}

.text-green {
  color: #1ec503;
}

button {
  background: none;
  color: #1ec503;
  border: none;
  padding-bottom: 5px;
}

button:focus,
button:active {
  animation: flicker 1s infinite alternate;
  border-bottom: 0.2px solid #fff;
}

button:focus {
  outline: none;
}

:root {
  --neon-text-color: #1ec503;
  --neon-border-color: #1ec503;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #000, 0.2rem 0.2rem 1rem #1ec503,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

.categories button {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 22px !important;
  }
  h1 {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 23px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  .navbar-brand {
    font-size: 20px !important;
  }
  .categories button {
    padding-left: 10px;
    padding-right: 10px;
  }
  h1 {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .navbar-brand {
    font-size: 18px !important;
  }
  h1 {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .navbar-brand {
    font-size: 16px !important;
  }
  .categories button {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: 341px) {
  .categories button {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 322px) {
  h1 {
    font-size: 14px;
  }
  .categories button {
    padding: 0 5px !important;
  }
}
