@import url("https://fonts.googleapis.com/css?family=Lexend+Giga&display=swap");
@font-face {
  font-family: pokemon;
  src: url(./PokemonGB.ttf);
}

html,
body {
  font-family: "Lexend Giga", sans-serif !important;
  overflow-x: hidden !important;
}

.track-horizontal {
  background: #fff !important;
}
