.masthead {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.text-pokemon {
  font-family: "pokemon";
}

@media (max-width: 576px) {
  .masthead {
    height: 60vh;
  }
}
