.masthead {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media (max-width: 576px) {
  .background-section-blog {
    display: none !important;
  }
  .masthead {
    height: 0 !important;
  }
  .title {
    display: none;
  }
}
