body {
  overflow-x: hidden;
}
.blogpost_img {
  width: 90%;
  height: auto;
}

.blogpost h1 {
  color: #1ec503;
}

.blogpost_content p {
  font-size: 18px;
  margin-bottom: 25px;
}

.blogpost_content img {
  width: 50%;
  height: auto;
}

@media (max-width: 576px) {
  .blogpost_content p {
    text-align: left !important;
  }
  .blogpost h1 {
    text-align: left !important;
  }
}
