body {
  overflow-x: hidden;
}
.blogpost-wrapper {
  padding-top: 100px;
}
.blogpost_img {
  width: 90%;
  height: auto;
}

.blogpost h1 {
  color: #1ec503;
}

.blogpost_content {
  margin: 3rem auto;
}

.blogpost_content p {
  margin-bottom: 25px;
}

.blogpost_content img {
  width: 50%;
  height: auto;
}

@media (max-width: 576px) {
  .blogpost_content p {
    font-size: 14px !important;
  }
  .blogpost_content {
    margin-top: 2rem !important;
  }
}
